@{
    ViewData["Title"] = "Home Page";
    string Repo = "https://github.com/nicola-stroffolino-scuola/primaWeb";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pagina PrimaWeb di Nicola Stroffolino 5I.</p>
    <p>GitHub Repository: <a href="@Repo">@Repo</a></p>
</div>
